body {font-family: Arial, Helvetica, sans-serif;}


input {height: 26px; padding: 3px 3px 4px 3px;}

.listAndDetails {
    height: 40%;
    width: 100%;
}

.list {
    height: 70%;
    background-color: white;
    padding-left: 7%;
    padding-top: 3%; 
}

.details {
    height: 80%;
    margin-top: 10px;
}

.billingBotton, .securityBotton, .pricesBotton, .transportationBotton { 
    height: 25%;
    padding-top: 4%;
    padding-right: 30%;
    
}

.listIcon {
    color: black;   
    padding-top: 4px;
}


.list button {
    width: 100%;
    text-align: left;    
    border-style:none;
    background-color: #ffffff;
    color: gray;
}

.list button:hover {
    cursor: pointer;
    color: #233534;
}

.list button:active {
    cursor: context-menu;
    color: #233534;
}

.list button:focus {
    outline: 0;
}

/* current directory */
.currdirectory {
    color: black;
}

.detailesTable {
    margin-left: 5%;
    margin-top: 4%;
    /* height: 220px; */
    width: 80%;
    border-radius: 15px;
    border-width: 3px;
    border-style: none;
    border-color: #707070;
    box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.2);  
}

.tableHeader {
    height: 50px;
    background-color: #008489;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.tableBody {
    /* min-height: 160px; */
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-bottom: 20px;
    padding-top: 10px;
}

/* ALL ROWS */
/* .tableBody .row {
    margin-left: auto;
    margin-right: auto;
} */
    
.pw, .username, .primContact, .secContact {
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;   

}

.username:hover, .primContact:hover, .secContact:hover, .pw:hover {
    background-color: rgba(3, 28, 29, 0.123);
}


.field {
    padding-left: 30px;
    margin-right: auto;
    text-align: left;
    cursor: context-menu;
}


.holder {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;   
}

.subject {
    padding: 10 0 0 30;
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.required {
    padding: 10 0 0 0;
    color: white;
    font-weight: 400;
    font-size: 120%;
    
}

.usernameEditButton, .primContactEditButton, .secContactEditButton, .pwEditButton {
    color: #008489;
    font-weight: 100;
    border-width:1.5px;  
    border-style:none;
    background-color: inherit;
}

.usernameEditButton:hover, .primContactEditButton:hover, .secContactEditButton:hover, .pwEditButton:hover {
    color: #04b7bd;
    cursor: pointer;
}

.usernameEditButton:active, .primContactEditButton:active, .secContactEditButton:active, .pwEditButton:active {
    transform: translateY(1px);
}

.usernameEditButton:focus, .primContactEditButton:focus, .secContactEditButton:focus, .pwEditButton:focus {
    outline: 0;
}

.currInfo {
    opacity: 0.4;
    cursor: context-menu;
}

.currInfo strong {
    cursor: pointer;
}


.editPw.row, .editUsername.row, .editPrimContact.row, .editSecContact.row {
    background-color: #7070701f;
    margin-top: 10px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    padding-bottom: 20px;

}



.editBoxTitle.row {
    width: 100%;
    padding-left: 15px;
    padding-top: 10px;
    text-align: left;
    margin-left: 0px;
    margin-right: 0px;
}

.editBoxElement.row {
    width: 100%;
    padding-left: 5px;
    text-align: left;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 7px;
}

.editBoxElement .editField {
    text-align: right;
    color: #00000086;
    font-weight: 740;
    font-size: 85%;
}

.editBoxElement .editInput {
    align-items: left;
    
} 

.editBoxElement .editField {
    text-align: right;
    color: #00000086;
    font-weight: 740;
    font-size: 85%;
}

.editBoxElement .editInput {
    align-items: left;
    
}

.submitAndCancel.row {
    width: 100%;
    margin-top: 20px;
}

.editSubmitButton {
    text-align : right;
    width: 20px;
    padding-right: 2px;
    
}

.editSubmitButton button {
    background-color: #008489;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    font-weight: 550;
    font-size: 95%;
}

.editSubmitButton button:hover {
    opacity: 1;
}

.editSubmitButton button:active {
    transform: translateY(1px);
}

.editCancelButton {
    text-align: left;
    color: #00000086;
    padding-left: 2px;
}

.editCancelButton button {
    background-color: #ffffff;
    color: #000000;
    border: solid;
    border-width: 1px;
    border-color: #0000004f;
    cursor: pointer;
    border-radius: 7px;
    font-weight: 400;
    font-size: 95%;
}

.emailCheckbox {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.emailCheckbox:checked {
    background-color: gray;
}

.checkboxContainer {
    padding-left: 15px;
    padding-top: 10px;
    text-align: left;
    margin-left: 0px;
    margin-right: 0px; 
    font-size: 90%;
    
}

.checkboxContainer input {
    width: 17px;
    margin-right: 5px;
}